* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html{
    scroll-behavior: smooth;
}


body{
    background-color: #0f172a;
    color: white;
    line-height: 1.6;
}

/* Navigation bar */

.navbar{
    width: 100%;
    padding: 20px 10%;
    background-color: #020617;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo{
    color: #38bdf8;
    font-size: 24px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 16px;
}

nav a:hover{
    color: #38bdf8;
}


/* General Sections */
section{
    padding: 100px 10%;
    scroll-margin-top: 90px;

}


/* Home Section */
#home{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 120px;
}

#home h1{
    font-size: 60px;
    margin-bottom: 10px;
}

#home h2{
    font-size: 32px;
    color: #38bdf8;
    margin-bottom: 20px;
}

#home p {
    max-width: 650px;
    font-size: 18px;
    color: #cbd5e1;
}

/*Other titles */
section h2{
    font-size: 32px;
    margin-bottom: 20px;
    color: #38bdf8;
}

p{
    font-size: 17px;
    color: #cbd5e1;
}

.home-buttons{
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.btn{
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
.primary-btn{
    background-color: #38bdf8;
    color: #020617;
}

.primary-btn:hover{
    background-color: #0ea5e9;
}

.secondary-btn{
    border: 2px solid #38bdf8;
    color: #38bdf8;
}

.secondary-btn:hover{
    background-color: #38bdf8;
    color: #020617;
}

.about-card{
    background-color: #1e293b;
    padding: 30px;
    border-radius: 12px;
    max-width: 800px;
    border: 1px solid #334155;
}

.about-card p {
    margin-bottom: 15px;
}

.skills-container{
    display:flex;
    flex-wrap:wrap;
    gap: 15px;
    max-width: 800px;
}

.skill-card{
    background-color: #1e293b;
    color:#38bdf8;
    padding: 15px 25px;
    border-radius: 10px;
    border: 1px solid #334155;
    font-weight: bold;
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.project-card{
    background-color: #1e293b;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #334155;
    transition: 0.3s;
}

.project-card:hover{
    transform: translateY(-5px);
    border-color:#38bdf8;
}

.project-card h3{
    color: white;
    margin-bottom: 15px;
    font-size: 22px;
}

.project-card p{
    margin-bottom: 15px;
}

.tech{
    color: #38bdf8;
    font-weight: bold;
}

.contact-card{
    background-color: #1e293b;
    padding: 30px;
    border-radius: 12px;
    max-width: 700px;
    border: 1px solid #334155;
}

.contact-card p{
    margin-bottom: 15px;
}

.contact-card span{
    color: #38bdf8;
    font-weight: bold;
}

footer{
    text-align: center;
    padding: 25px;
    background-color: #020617;
    border-top: 1px solid #334155;
}

footer p{
    color: #94a3b8;
    font-size: 15px;
}

@media(max-width: 768px){
    .navbar{
        padding: 15px 5%;
        flex-direction: column;
        gap: 15px;
    }

    nav a {
        margin-left: 10px;
        font-size: 14px;
    }

    section{
        padding:90px 5%;
    }

    #home h1{
        font-size: 42px;
    }

    #home h2{
        font-size: 26px;
    }

    #home p{
        font-size: 16px;
    }

    .home-buttons{
        flex-direction: column;
        width: 100%;
    }

    .btn{
        width: 100%;
        text-align: center;
    }

    .projects-container{
        grid-template-columns: 1fr;
    }

    .about-card,
    .contact-card{
        max-width: 100%;
    }

    .skills-container{
        gap: 10px;
    }

    .skill-card{
        padding: 12px 18px;
    }
}

.contact-card a{
    color: #38bdf8;
    font-weight: bold;
    text-decoration: none;
}

.contact-card a:hover{
    text-decoration: underline;
}

.project-buttons{
    display:flex;
    gap: 12px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.project-btn{
    padding: 10px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s;
}

.disabled-btn{
    border: 1px solid #475569;
    color: #94e3b8;
    cursor: not-allowed;
}

.demo-btn{
    background-color: #38bdf8;
    color:#020617
}

.demo-btn:hover{
    background-color: #0ea5e9;
}

.code-btn:hover{
    border: 1px solid #38bdf8;
    color: #020602;
}